/***** Global Settings *****/
 
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 
body {
font:100%/1.25 "Trebuchet MS";
-webkit-text-size-adjust: none;
}
 
/***** Common Formatting *****/
 
h1, h2, h3, h4, h5, h6
{
margin:0;
padding:0;
font-weight:normal;
}
 
p, ul, ol
{
margin:0;
padding:0;
}
 
ul, ol
{
list-style:none;
padding:0;
}
 
blockquote 
{
margin:0;
padding:0;
}
 
small
{
font-size:0.85em;
}
 
img
{
border: none;
}
 
sup
{
position:relative;
bottom:0.3em;
vertical-align:baseline;
}
 
sub
{
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}
 
acronym, abbr
{
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}
 
/***** Links *****/
 
a, a:visited
{
text-decoration:none;
}
 
/***** Forms *****/
 
form
{
margin:0;
padding:0;
display:inline;
}
 
input, select, textarea
{
font:1em arial, helvetica, sans-serif;
}
 
textarea {
line-height:1.25;
}
 
label
{
cursor:pointer;
}

fieldset
{
border: none;
padding: 0px 0px 0px 0px;
}
 
/***** Tables *****/
 
table
{
margin: 0px;
padding: 0px;
border: none;
border-spacing: 0;
}
 
/***** Global Classes *****/
 
.clear         { clear:both; }
 
.float-left    { float:left; }
.float-right   { float:right; }
 
.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }
 
.bold          { font-weight:bold; }
.italic        { font-style:italic; }

/*blue border on hover fix*/
:hover, :active, :focus
{
	outline: 0;
	outline: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
