		<div id="space"></div>
		<div id="container_footer">
			<div class="wrap_content">
				<p class="center copyright">&copy; 2015-{{ 'now' | date:'%Y' }} TortoiseGit and contributors; Patches, suggestions and comments for this web site are <a href="https://gitlab.com/tortoisegit/tortoisegit.org" target="_blank" class="gitlab">welcome on GitLab</a>.</p>
			</div>
		</div>
	</div>
	</body>
</html>
