---
layout: default
title: Documentation
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Documentation</h1>

				<h2>Manuals</h2>
				<p>The are two manuals available:</p>

				<ul>
					<li><a href="/docs/tortoisegit/">TortoiseGit (in general, includes a daily usage guide)</a></li>
					<li><a href="/docs/tortoisegitmerge/">TortoiseGitMerge</a></li>
				</ul>

				<p>If you need help or more specific support please see our <a href="/support/">support page</a> and our <a href="/support/faq/">FAQ</a>.</p>

				<h2>Developer documentation</h2>
				<p>Information for developers can be found on the <a href="/contribute/">contribute page</a>.</p>
			</div>
		</div>
