---
layout: download-head
---
{% if page.url == '/' %}
<p><strong>This is the TortoiseGit download server. Here you can find all releases of TortoiseGit and additional files.</strong></p>
{% endif %}

<p><strong>The current stable version of TortoiseGit is: <a href="/tgit/{{site.version.long}}/">{{site.version.short}}</a></strong></p>
<p>The latest preview releases can be found <a href="/tgit/previews/">here</a>.</p>
<p></p>

{{ content }}
