{% include header.html %}

		<div class="container_seperator">
			<div class="wrap_content breadcrumbs">
				{% if page.url == '/' %}
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | download.tortoisegit.org
				{% else %}
				<a href="//tortoisegit.org/">TortoiseGit.org</a> | <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">download.tortoisegit.org</span></a></span>
				{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
				{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
				{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
				{% for i in (1..forLoopMaxInt) %}
								&raquo;
								{% assign j = forLoopMaxInt | plus: 0 %}
								{% if i == j %}
								Index of {{splitted_url_parts[i]}}
								{% else %}
								<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="/{{splitted_url_parts[i]}}/" itemprop="url"><span itemprop="title">/{{splitted_url_parts[i]}}</span></a>
								</span>
								{% endif %}
				{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Index of {{ page.url }}</h1>


{{ content }}

			</div>
		</div>
	{% include footer.html %}
